/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
	color: black;
	margin: 0px;
	padding: 0px;
}

:root {
	--base-font-size-small: 14px;
	--base-font-size-medium: 16px;
	--base-font-size-large: 18px;

	--base-font-size: 16px;

	--color-bg: black;
	--color-txt: white;
}

body {
	font-family: "JetBrains Mono", monospace;
	font-size: 12pt;
	line-height: 1.2;
	word-spacing: -10%;
	background-color: var(--color-bg);
	color: var(--color-txt);
}

h1, h2, h3, h4, p {
	color: var(--color-txt);
}

.home {
	width: 100vw;
	height: 100vh;
	background: rgb(78,1,176);
	background: radial-gradient(circle, rgba(78,1,176,1) 0%, rgba(12,0,27,1) 18%, rgba(78,1,176,1) 29%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); 
}

.home h1 {
	font-size: calc(var(--base-font-size)*8);
	word-spacing: -50%;
	font-weight: 100;
}
.home h1+p {font-size: calc(var(--base-font-size)*2);}
