/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
	color: black;
	margin: 0px;
	padding: 0px;
}

:root {
	--base-font-size-small: 14px;
	--base-font-size-medium: 16px;
	--base-font-size-large: 18px;

	--base-font-size: 16px;

	--color-bg: black;
	--color-txt: white;
}

body {
	font-family: "JetBrains Mono", monospace;
	font-size: 12pt;
	line-height: 1.2;
	word-spacing: -10%;
	background-color: var(--color-bg);
	color: var(--color-txt);
	display: grid;
	grid-template-columns: 1fr 70vw 1fr;
	grid-template-rows: 100px 1fr 1fr;
	grid-template-areas:
		". nav ."
		". main ."
		"footer footer footer";
}
header {grid-area: nav;}
#content {grid-area: main;}
footer {grid-area: footer;}

h1, h2, h3, h4, p {
	color: var(--color-txt);
}


.home h1 {
	font-size: calc(var(--base-font-size)*8);
	word-spacing: -50%;
	font-weight: 800;
}
.home h1+p {font-size: calc(var(--base-font-size)*2);}
