/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */

* {
	color: black;
	margin: 0px;
	padding: 0px;
}

:root {
	--base-font-size-small: 14px;
	--base-font-size-medium: 16px;
	--base-font-size-large: 18px;

	--base-font-size: 16px;

	--color-bg: black;
	--color-txt: white;
}

body {
	/* font-family: "JetBrains Mono", monospace; */
	font-family: "Inter", sans-serif;

	font-size: 12pt;
	line-height: 1.2;
	word-spacing: -10%;
	background-color: var(--color-bg);
	color: var(--color-txt);
	display: grid;
	grid-template-columns: 1fr 60vw 1fr;
	grid-template-rows: 100px 1fr 1fr;
	grid-template-areas:
		". nav ."
		". main ."
		"footer footer footer";
}
header {grid-area: nav;}
#content {grid-area: main;}
footer {grid-area: footer;}

h1, h2, h3, h4, p {
	color: var(--color-txt);
}

#content main {
	padding: 40px 50px;
}
#content::before {
	content: "";
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    left: 0px;
    background-image: linear-gradient(110deg, rgb(16.471% 88.627% 92.549%) 0%, rgb(16.46% 87.591% 92.566%) 6.25%, rgb(16.427% 84.478% 92.618%) 12.5%, rgb(16.372% 79.274% 92.703%) 18.75%, rgb(16.295% 71.956% 92.823%) 25%, rgb(16.196% 62.49% 92.977%) 31.25%, rgb(16.076% 50.836% 93.165%) 37.5%, rgb(15.934% 36.942% 93.386%) 43.75%, rgb(15.771% 20.749% 93.641%) 50%, rgb(28.984% 15.586% 93.93%) 56.25%, rgb(49.58% 15.381% 94.252%) 62.5%, rgb(72.665% 15.155% 94.606%) 68.75%, rgb(94.994% 14.908% 91.653%) 75%, rgb(95.413% 14.642% 64.136%) 81.25%, rgb(95.865% 14.356% 33.886%) 87.5%, rgb(96.348% 27.315% 14.05%) 93.75%, rgb(96.863% 62.745% 13.725%) 100% );
    filter: blur(50px);
	border-top-left-radius: 180px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 250px;
	border-bottom-left-radius: 100px;
	/* mix-blend-mode: hue; */
}
#content::after {
	content: "";
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    background-image: linear-gradient(-70deg, rgb(16.471% 88.627% 92.549%) 0%, rgb(16.46% 87.591% 92.566%) 6.25%, rgb(16.427% 84.478% 92.618%) 12.5%, rgb(16.372% 79.274% 92.703%) 18.75%, rgb(16.295% 71.956% 92.823%) 25%, rgb(16.196% 62.49% 92.977%) 31.25%, rgb(16.076% 50.836% 93.165%) 37.5%, rgb(15.934% 36.942% 93.386%) 43.75%, rgb(15.771% 20.749% 93.641%) 50%, rgb(28.984% 15.586% 93.93%) 56.25%, rgb(49.58% 15.381% 94.252%) 62.5%, rgb(72.665% 15.155% 94.606%) 68.75%, rgb(94.994% 14.908% 91.653%) 75%, rgb(95.413% 14.642% 64.136%) 81.25%, rgb(95.865% 14.356% 33.886%) 87.5%, rgb(96.348% 27.315% 14.05%) 93.75%, rgb(96.863% 62.745% 13.725%) 100% );
    filter: blur(50px);
	border-top-left-radius: 180px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 250px;
	border-bottom-left-radius: 100px;
}
#content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
}
#content>* {z-index: 10;}

.home {color: black;}
.home h1 {
	font-size: calc(var(--base-font-size)*8);
	font-family: "Inter", sans-serif;
	font-weight: 800;
	color: black;
	letter-spacing: -0.022em;
	line-height: 130px;
	margin-bottom: 20px;
}
.home p {
	color: black;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: -0.021em;
	line-height: 42px;	
}
